h1 {font-size: 100px;
text-align:center;
color: gold;
text-shadow: 2px 2px #784d12}

p { font-size: 30px;
font-family: Times New Roman; 
color: gold; 
text-align: center;
background: #784d12;}

img { position: absolute;
top: 40% }

.image {position: relative; 
width: 100%;}

#Miristeer {
background:#784d12;
font-size: 50px;
font-family: Times New Roman;
color: gold; 
position: absolute;
left:940px;
top: 380px;}

#Reikguard {
background:#784d12;
font-size: 50px;
font-family: Times New Roman;
color: gold; 
position: absolute;
left:30px;
top: 380px;}

#Andromeda {
background:#784d12;
font-size: 50px;
color: gold;
font-family: Times New Roman;
text-shadow: black;
position: absolute;
left:490px;
top:550px;}

#Chimera {
background:#784d12;
font-size: 50px;
color: gold;
font-family: Times New Roman;
text-shadow: black;
position: absolute;
left:490px;
top:380px;}

.whisp {
position: relative;
left: 1650px;
top: -300px;}
